.portfolio-image-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
}

.portfolio-image-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-color);

  margin-top: 4px;
}

.portfolio-list {
  display: flex;
  // flex-wrap: wrap;
  // margin-left: -30px;
  // margin-top: -30px;
}

@media screen and (max-width: 767px) {
  .portfolio-list {
    flex-direction: column;
  }
}

.portfolio-list-item {
  // flex-basis: calc((100% - 90px) / 3);
  // margin-left: 30px;
  // margin-top: 30px;

  margin-bottom: 30px;

  cursor: pointer;

  transition-property: box-shadow;
  transition: 250ms var(--timing-function);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.portfolio-list-content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  overflow: auto;

  font-family: var(--main-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;

  transform: translateY(100%);
  transition-property: transform;
  transition: 250ms var(--timing-function);

  .portfolio-list-link:hover &,
  .portfolio-list-link:focus & {
    transform: translateY(0%);
  }
}

.portfolio-list-wrapper {
  overflow: hidden;
  position: relative;
}

@media screen and (min-width: 768px) and (max-width: 1119px) {
  .portfolio-list {
    flex-wrap: wrap;
  }
  .portfolio-list-item:nth-child(odd) {
    margin-right: 30px;

    // flex-basis: calc((100% - 30px) / 2);
    // margin-left: 30px;
    // margin-top: 30px;
  }
  .portfolio-list-content {
    width: 354px;
  }
  .portfolio-list-content-tablet {
    height: 146px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-image-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-color);
  }

  .portfolio-image-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--secondary-color);

    margin-top: 4px;
  }

  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }

  .portfolio-list-item {
    flex-basis: calc((100% - 90px) / 3);
    margin-left: 30px;
    margin-top: 30px;

    cursor: pointer;

    transition-property: box-shadow;
    transition: 250ms var(--timing-function);

    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }

  .portfolio-list-content {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    background-color: rgba(33, 150, 243, 0.9);
    overflow: auto;

    font-family: var(--main-font);
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #ffffff;

    transform: translateY(100%);
    transition-property: transform;
    transition: 250ms var(--timing-function);

    .portfolio-list-link:hover &,
    .portfolio-list-link:focus & {
      transform: translateY(0%);
    }
  }

  .portfolio-list-wrapper {
    overflow: hidden;
    position: relative;
  }
}
