.team {
  background: #f5f4fa;
}
.team-list {
  &__name {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--main-color);
  }

  &__description {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
  }

  &__name {
    margin-bottom: 10px;
    text-align: center;
  }

  &__description {
    text-align: center;
    margin-bottom: 16px;
  }

  &__card {
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  &__content {
    padding: 30px 32px;
  }
}
@media screen and (min-width: 480px) {
  .section__title {
    font-size: 28px;
    line-height: 1.18;
    margin-bottom: 30px;
  }
  .team-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -30px;

    &__item {
      margin-bottom: 30px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1119px) {
  .team-list__item:nth-child(odd) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }

  .team-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;

    &__name {
      font-family: var(--main-font);
      font-weight: 500;
      font-size: 16px;
      line-height: 1.19;
      letter-spacing: 0.03em;
      color: var(--main-color);
    }

    &__description {
      font-family: var(--main-font);
      font-weight: 400;
      font-size: 16px;
      line-height: 1.19;
      letter-spacing: 0.03em;
      color: var(--secondary-color);
    }

    &__item {
      margin-left: 30px;
      margin-top: 30px;
      flex-basis: calc((100% - 120px) / 4);
    }
    &__name {
      margin-bottom: 10px;
      text-align: center;
    }

    &__description {
      text-align: center;
      margin-bottom: 16px;
    }

    &__card {
      background: #ffffff;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 0px 0px 4px 4px;
    }

    &__content {
      padding: 30px 32px;
    }
  }
}

// + 1200--------------------//

// .team {
//   background: #f5f4fa;
// }

// .team-list {
//   display: flex;
//   flex-wrap: wrap;
//   margin-left: -30px;
//   margin-top: -30px;

//   &__name {
//     font-family: var(--main-font);
//     font-weight: 500;
//     font-size: 16px;
//     line-height: 1.19;
//     letter-spacing: 0.03em;
//     color: var(--main-color);
//   }

//   &__description {
//     font-family: var(--main-font);
//     font-weight: 400;
//     font-size: 16px;
//     line-height: 1.19;
//     letter-spacing: 0.03em;
//     color: var(--secondary-color);
//   }

//   &__item {
//     margin-left: 30px;
//     margin-top: 30px;
//     flex-basis: calc((100% - 120px) / 4);
//   }
//   &__name {
//     margin-bottom: 10px;
//     text-align: center;
//   }

//   &__description {
//     text-align: center;
//     margin-bottom: 16px;
//   }

//   &__card {
//     background: #ffffff;
//     box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
//       0px 2px 1px rgba(0, 0, 0, 0.2);
//     border-radius: 0px 0px 4px 4px;
//   }

//   &__content {
//     padding: 30px 32px;
//   }
// }
