// .work-list {
//   display: flex;
//   flex-wrap: wrap;
//   margin-left: -30px;
//   margin-top: -30px;

//   &__item {
//     position: relative;

//     margin-left: 30px;
//     margin-top: 30px;
//     flex-basis: calc((100% - 90px) / 3);
//   }

//   &__description {
//     position: absolute;
//     bottom: 0;

//     width: 100%;
//     height: 70px;
//     background: rgba(47, 48, 58, 0.8);

//     display: flex;
//     align-items: center;
//     justify-content: center;

//     font-family: var(--main-font);
//     font-weight: 700;
//     font-size: 14px;
//     line-height: 16px;
//     text-align: center;
//     letter-spacing: 0.03em;
//     text-transform: uppercase;

//     color: #ffffff;
//   }
// }

// .work {
//   padding-top: 94px;
// }

// .work-list {
//   display: flex;
//   flex-wrap: wrap;
//   margin-left: -30px;
//   margin-top: -30px;

//   &__item {
//     position: relative;

//     margin-left: 30px;
//     margin-top: 30px;
//     flex-basis: calc((100% - 90px) / 3);
//   }

//   &__description {
//     position: absolute;
//     bottom: 0;

//     width: 100%;
//     height: 70px;
//     background: rgba(47, 48, 58, 0.8);

//     display: flex;
//     align-items: center;
//     justify-content: center;

//     font-family: var(--main-font);
//     font-weight: 700;
//     font-size: 14px;
//     line-height: 16px;
//     text-align: center;
//     letter-spacing: 0.03em;
//     text-transform: uppercase;

//     color: #ffffff;
//   }
// }
