.modal-btn {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  border: 0;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: var(--focus-color);
  cursor: pointer;

  transition-property: background-color;
  transition: 250ms var(--timing-function);

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
