.social-list__icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;

  transition-property: fill;
  transition: 250ms var(--timing-function);

  .social-list__link:hover &,
  .social-list__link:focus & {
    fill: #ffffff;
  }
}

.social-list {
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 300px) {
  .social-list {
    justify-content: center;
  }
  .social-list__item:not(:last-child) {
    margin-right: 10px;
  }
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;

  transition-property: background-color;
  transition: 250ms var(--timing-function);

  &:hover,
  &:focus {
    background-color: var(--focus-color);
  }
}
