h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}

.list,
.menu-contacts,
.features-list,
.work-list,
.team-list,
.menu-address,
.portfolio-list,
.portfolio-filter {
  list-style: none;
}

.link,
.logo {
  text-decoration: none;
}

body {
  font-family: var(--main-font);
  background: #ffffff;
}
