:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --main-color: #212121;
  --secondary-color: #757575;
  --focus-color: #2196f3;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__email {
  color: var(--secondary-color);
}
.mobile-menu__tel {
  color: var(--focus-color);
}
